<form action="/novo" method="POST">
    <div class="mb-3">
        <label for="nome">Nome</label>
        <input type="text" name="nome" class="form-control">
    </div>

    <div class="mb-3">
        <label for="numero">Número</label>
        <input type="number" name="numero" class="form-control">
    </div>

    <button class="btn btn-success">Salvar</button>
</form>