<h1>Index Produtos</h1>

<a href="/produtos/new" class="btn btn-primary">Novo</a>

<table class="table table-hover">
    <tr>
        <th>Ações</th>
        <th>ID</th>
        <th>Nome</th>
    </tr>
    {{# each produtos}}
        <tr>
            <td>
                <a href="/produtos/{{ this.id }}" class="btn btn-warning">
                    Editar
                </a>
                <a href="/produtos/{{ this.id }}/delete" class="btn btn-danger">
                    Excluir
                </a>
            </td>
            <td>{{ this.id }}</td>
            <td>{{ this.nome }}</td>
        </tr>
    {{/ each}}
</table>