<h1>Novo Produto</h1>

<div class="container">
    <form action="/produtos/new" method="POST">
        <div class="mb-4">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" placeholder="Digite o nome do produto">
        </div>
        <input type="submit" class="btn btn-primary" value="Salvar">
    </form>
</div>