.botaoLegal {
    background-color: blue;
    color: white;
    border: 1px solid blue;
    padding: 10px 20px;
    border-radius: 10px;
}

.botaoLegal:hover {
    background-color: white;
    color: blue;
    
}